@use "../../../styles/variables" as *;

.blob-frame {
  width: 350px;
  height: 240px;

  padding: 0.4rem;

  background-color: $color-primary;
  border-radius: 50px 70px 60px 80px;

  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
}

.blob-frame__inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: inherit;
}

.blob-frame__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
