@use './variables' as *;

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: $color-white;
  min-height: 100%;
}

body {
  padding-top: 120px;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-wrapper {
  flex: 1; 
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-content {
  flex-grow: 1;
}

@media (max-width: 768px) {
  body {
    padding-top: 80px;
  }
}