@use './variables' as *;

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: $color-white;
  min-height: 100%;
}

body {
  padding-top: 105px; 
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

/* Responsive */
@media (max-width: 768px) {
  body {
    padding-top: 95px;
  }
}