@use './variables' as *;

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: linear-gradient(
    90deg,
    $color-primary 0%,
    $color-secondary 100%
  );
  min-height: 100%;
}
