@use './variables' as *;

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: $font-body;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-dark;
  background-color: $color-light;
}

h1,
.h1 {
  font-family: $font-heading;
  font-size: $font-size-4xl;
  line-height: $line-height-heading;
  font-weight: 800;
}

h2,
.h2 {
  font-family: $font-heading;
  font-size: $font-size-3xl;
  line-height: $line-height-heading;
  font-weight: 600;
}

h3,
.h3 {
  font-family: $font-heading;
  font-size: $font-size-2xl;
  line-height: $line-height-heading;
  font-weight: 600;
}

h4,
.h4 {
  font-family: $font-heading;
  font-size: $font-size-xl;
  font-weight: 500;
}

p,
.body {
  font-size: $font-size-base;
}


.small {
  font-size: $font-size-sm;
}
