
$color-lila-light: #b189ff;     // Lila pastel
$color-lila-medium: #9ab2ed;    // Lila azulado
$color-turquesa-soft: #5ce1e6;  // Turquesa suave


$color-primary: #30d5c8;        // Turquesa RS
$color-secondary: #b57edc;      // Lila RS


$color-black: #000000;          // Negro fuerte (PDF)
$color-dark: #2f2f32;           // Gris muy oscuro
$color-light: #c0c0c0;          // Gris claro
$color-white: #ffffff;


$color-silver-light: #e5e5e5;
$color-silver-dark: #999999;


$shadow-soft: rgba(0, 0, 0, 0.10);
$shadow-medium: rgba(0, 0, 0, 0.25);

$font-heading: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont,
  'Segoe UI', sans-serif;
$font-body: 'Inter', system-ui, -apple-system, BlinkMacSystemFont,
  'Segoe UI', sans-serif;


$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-base: 1rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.375rem;
$font-size-2xl: 1.75rem;
$font-size-3xl: 2.25rem;
$font-size-4xl: 3rem;        


$line-height-base: 1.6;
$line-height-heading: 1.2;

/* SPACING*/
$space-xs: 0.5rem;
$space-sm: 0.75rem;
$space-md: 1rem;
$space-lg: 1.5rem;
$space-xl: 2rem;
$space-2xl: 3rem;

/*RADIUS*/
$radius-base: 0.75rem;
