@use "../../styles/variables" as *;

.header {
  background-color: $color-white;
  padding: 0.8rem 2rem;
  border-bottom: 1px solid $color-light;
  position: relative;
  z-index: 10;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
}

.header-logo img {
  height: 200px;
  width: auto;
  object-fit: contain;
  margin-bottom: -100px; 
}


.header-contact-btn {
  background: linear-gradient(90deg,#5ce1e6 45%, #C3B4F0);
  color: #000;
  padding: 0.6rem 1.4rem;
  font-weight: 600;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: 0 3px 10px rgba(0,0,0,0.12);
  transition: all 0.25s ease;

  &:hover {
    background-color: #BFA9F8;
    transform: translateY(-1px);
  }

  &:focus {
    outline: 2px solid #000;
    outline-offset: 4px;
  }
}
