@use "../../styles/variables" as *;

.header {
  background-color: $color-white;
  padding: 1rem 2rem;
  border-bottom: 1px solid $color-light;
}

.header-nav {
  display: flex;
  justify-content: center;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;

  li {
    display: flex;
    align-items: center;
  }

  a {
    color: $color-dark;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    transition: color 0.2s ease;

    &:hover,
    &:focus {
      text-decoration: underline;
      outline: 2px solid black; // accesibilidad teclado
      outline-offset: 4px;
    }
  }
}


.header-contact-btn {
  background: linear-gradient(90deg, #4f93f7, #2d7df4);
  color: $color-white;
  padding: 0.6rem 1.3rem;
  font-weight: 600;
  border: none;
  font-size: 1rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0 4px 10px rgba(45, 125, 244, 0.25);

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgba(45, 125, 244, 0.35);
  }

  &:focus {
    outline: 2px solid black;
    outline-offset: 4px;
  }
}
