@use "../../styles/variables" as *;

.footer {
  width: 100%;
  background-color: $color-dark;
  color: $color-white;

  padding: 2rem 1rem;
  margin-top: 0;

  display: flex;
  justify-content: center;
}

.footer-inner {
  width: 100%;
  max-width: 1200px; // centra contenido
  text-align: center;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;

  a {
    color: $color-white;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
